<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{title}</title>
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300"
              rel="stylesheet" type="text/css">
        <link href="common.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>
            <img class="avatar" src="avatar.png">
            {title}
        </h1>
        <main>
            <!---<nav>
                <a href="/">Home</a>
                <a href="https://github.com/JuhaniImberg">GitHub</a>
            </nav>-->
            {body}
        </main>
    </body>
</html>
