<article>
    <h2>Hi.</h2>

    I'm a Computer Sciense student at the University of Helsinki.<br>
    My intrests include programming languages, programming tools
    and web applications.

    <h2>Some of my projects</h2>
    <dl>
        <dt>
            <a href="https://github.com/JuhaniImberg/tmc.py">TMC.py</a>
        </dt>
        <dd>
            Commandline client for working with a TestMyCode server.
            It aims to have all of the features of tmc-netbeans.
        </dd>

        <dt>
            <a href="https://github.com/JuhaniImberg/haapa">Haapa</a>
        </dt>
        <dd>
            Program for generating a status line for various bars such as i3bar.
        </dd>

        <dt>
            <a href="https://github.com/JuhaniImberg/lights-please">Lights-Please</a>
        </dt>
        <dd>
            Single page application for controlling various LED lights.
        </dd>

        <dt>
            <a href="https://github.com/JuhaniImberg/ernu">ernu</a>
        </dt>
        <dd>
            A programming language with influence from Lua, Python and Lisp.
        </dd>
    </dl>

    <h2>Most recent blog posts</h2>

    {latest_articles}

    <h2>You can contact me via</h2>

    <ul>
        <li><a href="mailto:juhani@imberg.fi">Email</a></li>
        <li><a href="https://github.com/JuhaniImberg">Github</a></li>
        <li><a href="https://linkedin.com/in/JuhaniImberg">LinkedIn</a></li>
        <li><a href="https://twitter.com/JuhaniImberg">Twitter</a></li>
        <li>IRC (Juhani @ IRCNet, Freenode)</li>
    </ul>

</article>
